.container{
  width: 100%;
  /* display: flex; */
  /* flex-wrap: wrap; */
  padding:3%;
  /* justify-content: center; */
}

.container img{
  width: 70%;
  height: 70%;
  border-radius: 10px;
  object-fit: cover;
}

.container li{
  margin-right: 50px;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}