.container{
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  background-color: orangered;
  color: white;
  height: 50px;
  width: 100%;
  position: sticky;
    top:0;
  padding-left: 3%;
  padding-right: 3%;

}

.h2{
  margin: 20px;
  /* margin-left: 100px; */
  margin-left: 3%;
 }
.s{
  margin: auto;
  width: 40%;
  /* width: 800px; */
  /* align-self: center; */
}