.container{
  width:100%;
 }




.right{
  display: flex;
  align-items: center;
  padding: 3%;
  justify-content: flex-end;
}

.content{
  /* margin: auto; */
  text-align: center;
  margin-top: 20px;
}