*{

  margin: 0;
  padding: 0;
  /* background-color: #F8F8F9; */
  box-sizing: border-box;
  /* position: relative; */
}


ul {
    list-style-type: none;
  
  }

ul li a {
     text-decoration: none;
}

html body{
  height: 100%;
  /* background-color: pink; */
/* height: auto; */
}